<!DOCTYPE html>
 <html>
 <head>
  <title>Samay - About! :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.container{
  padding: 10px;
}
</style>
 <body>
   <div class="container">
     <fieldset>
        <legend>About Samay</legend>
        <p> Version 1.0,<b> Venkata Shravan </b> </p>
        <p>Get maximum consecutive holidays with the least number of work leaves, that is what we want if we wanna take a vacation right? :)</p>
        <p>Profiles :</p><a target="_blank" href="https://www.linkedin.com/in/kandadishravan/">Linkedin</a>&nbsp;<a target="_blank" href="https://twitter.com/kandadi_shravan">Twitter</a>
     </fieldset>
</div>
 </body>
</html>
