<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="vacation, Samay, Samay vacation time, work leaves">
  <meta name="description" content="Maximum Holidays for a vacation">
  <meta name="author" content="Venkata Shravan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static',filename='images/icons/samay(1).ico') }}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <title>Samay </title>
    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance: textfield;
      }
      .container{
          padding-left: 1%;
      }
      #back {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: whitesmoke;
      text-decoration: underline;
      text-underline-offset: 3.25px;
    }
  </style>  
  </head>
  <body>
    <div class="loader-wrapper">
        <span class="loader"></span>
      </div>
    
    <div class="container"> 
      <h3 id="back"><a href="{{ url_for('.home') }} " style='color: #eb4d55;'>Back</a></h3>
                <fieldset>
                   <legend><p style="font-weight: 750;font-size: larger;">About Samay</p></legend>
                   <p> Version 1.0,<b style="color: red;"> Venkata Shravan </b> </p>
                    <p>Get maximum consecutive holidays with the least number of work leaves, that is what we want if we wanna take a vacation right? :)</p>
                    <p>Profiles :</p>&nbsp;<a style="color: red;" target="_blank" href="https://github.com/kvshravan"><u>Github</u></a>&nbsp;<a style="color: red;" target="_blank" href="https://www.linkedin.com/in/kandadishravan/"><u>Linkedin</u></a>&nbsp;<a style="color: red;" target="_blank" href="https://twitter.com/kandadi_shravan"><u>Twitter</u></a>
                </fieldset>
            
      </div>
      <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
      <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
      </script> 
  </body>
</html>