<!DOCTYPE html>
 <html>
 <head>
  <title>Garuda - Holidays! :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.container{
  padding: 10px;
}
</style>
 <body>
   <div class="container">
     <fieldset>
        <legend>About Garuda</legend>
        <p> Version 1.0 &copy;<b> Venkata Shravan</b> </p>
        <p>Get maximum consecutive holidays with the least number of work leaves, that is what we want if we wanna take a vacation right? :)</p>
        <p>For source code visit :</p><a target="_blank" href="https://github.com/kvshravan/holiday">Github</a>
     </fieldset>
</div>
 </body>
</html>
