<!DOCTYPE html>
 <html>
 <head>
  <title>Garuda - Hello there! :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
div{
  padding: 10px;
}
</style>
 <body>
   <div class="container">
     <h2>Well hello there, Planning on a vacation? :)</h2>
    <form action="" method="POST">
     <fieldset>
        <legend>Get Maximum Consecutive holidays</legend>
        <br>
        <label>Enter year</label><br>
        <input type="number" name="yy" placeholder="2022" required><br>
        <br>
        <label>Maximum affordable leaves:</label><br>
        <input type="number" name="k" required><br>
        <br>
        <label for="mm">Choose a month:</label>
        <br>
        <br>

    <select name="mm" id="mm">
      <option value="1">January</option>
      <option value="2">Febuary</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September ( my birthday ;) )</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <br>
    <br>

         <input type="submit" name="mmm" value="Let's go!">
         <br>
         <br>
         <hr>
         (OR)
         <p> Let us pick the best month for you in the same year <b>^.^</b></p>
         <input type="submit" name="yyy" value="Pick the best month">
         <br>
         <hr>
         <br>
         <a href="/holiday" >View / Edit Holidays</a>
         <br>
         <br>
         <a href="/about" >About</a>
     </fieldset>
  </form>
</div>
 </body>
</html>
