<!DOCTYPE html>
 <html>
 <head>
  <title>Garuda - Holidays! :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.container{
  padding: 10px;
}
#show-message{
      display: none;
    }
</style>
 <body>
   <h2 class="container"><a href="{{ url_for('.hello') }}" >Back</a></h2>
	<center id="show-message"><b><p style="color:green;">Loading... do not refresh the page</p></b></center>
   <div class="container">
     <fieldset>
        <legend>Holidays list</legend>
        {% for dkey,val in days.items() %}
        <h4>{{dkey}} {{val}}<a href="{{ url_for('.removeHoliday',key=dkey) }}" onclick="loading()"> Remove </a></h4>
        {% endfor %}
     </fieldset>
     <br>
     <fieldset>
       <form method="post" onsubmit="loading()">
       <legend> Add a holiday</legend>
       <br>
       <input type="date" placeholder="Pick a date" name="pick" id="pick">
       <br>
       <br>
       <input type="text" placeholder="Diwali" name="val" id="val">
       <br>
       <br>
       <input type="submit" name="add" value="Add">
       </form>
     </fieldset>
</div>
  <script type="text/javascript">// <![CDATA[
        function loading(){
          window.scrollTo(0, 0);
            $("#show-message").show();
        }
// ]]></script>
 </body>
</html>
