<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="keywords" content="vacation, Samay, Samay vacation time, work leaves">
  <meta name="description" content="Maximum Holidays for a vacation">
  <meta name="author" content="Venkata Shravan">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/icomoon/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

  <!-- Style -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

  <title>Samay - Home</title>
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
    #back{
      padding: 6px;
    }
    #nav h5.current{
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 3.25px;
      background-color: rgba(219, 219, 219, 0.504);
}
#nav{
  padding: 1.5rem;
}
#nav h5{
  padding: 13px;
}
#mob {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mob {
    display: block;
  }
  #pc{
    display: none;
  }
}
  </style>

</head>

<body>
  <div class="loader-wrapper">
    <span class="loader"></span>
  </div>
  <div class="content">
    

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">

          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <div class="mb-5"> <h2 >Relax, <br>Take a break.</h2>
                <p id="mob" style="font-weight: 450;"><a  href="{{ url_for('.help') }}"> What deos this tool do?</a></p></div>
             
              <p id="mob">You are currently in <span style='color: #eb4d55;'>{{country}}</span>. To change your country or to customise holidays please <span style="font-weight: 450; color: #eb4d55;" onclick="scrollDown()">Scroll down <i style="text-align: center;" class="fa fa-angle-double-down" style="font-size:24px;color:red"></i>
                </span> to the bottom of the page.</p>
              <div id="nav" class="row justify-content-center">
              <h5 id="monthbtn" class="current"><a href="{{ url_for('.home') }} " style='color: #eb4d55;' >Month</a></h4>
              <h5 id="yearbtn"><a href="{{ url_for('.home') }} " style='color: #eb4d55;' >Year</a></h4>
              <h5 id="rangebtn"><a href="{{ url_for('.home') }} " style='color: #eb4d55;' >Range</a></h4>
             </div>
             <form action="" method="post" class="border-right pr-5 mb-5" method="post" id="dateForm"
             name="dateForm" style="display: none;">
             <div class="row" name="sdiv" id="sdiv">
              <div class="col-md-12 form-group">
                <label for="start"><b>Start Date :</b></label>
                <input type="date" class="form-control" name="start" id="start"
                  placeholder="Enter Start Date" required>
              </div>
            </div>
              <div class="row" name="ediv" id="ediv" > 
                <div class="col-md-12 form-group">
                  <label for="end"><b>End Date :</b></label>
                  <input type="date" class="form-control" name="end" id="end"
                    placeholder="Enter End date" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="k"><b>Max. affordable days of leave for the vacation :</b></label>
                  <input type="number" inputmode="numeric" class="form-control" name="k" id="k"
                    placeholder="Enter number of days" autocomplete="off" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="submit" id="rrr" name="rrr" value="Find holidays"
                    class="btn btn-primary rounded-pill py-2 px-4">
                  <span class="submitting"></span>
                </div>
                <br>
              </div>
              <p id="mob" align="right" style="padding: 0;font-size: medium; font-weight: 450; color: #eb4d55;" onclick="scrollDown()">Scroll down <i class="fa fa-angle-double-down" style="font-size:24px;color:red"></i>
              </p>
             </form>
              <form action="" method="post" class="border-right pr-5 mb-5" method="post" id="contactForm"
                name="contactForm">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="yy"><b>Year :</b></label>
                    <input type="number" min="1" max="9999" inputmode="numeric" class="form-control" name="yy" id="yy"
                      placeholder="Enter Year" value="{{year}}" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="k"><b>Max. affordable days of leave for the vacation :</b></label>
                    <input type="number" min="1" max="366" inputmode="numeric" class="form-control" name="k" id="k"
                      placeholder="Enter Leaves" autocomplete="off" required>
                  </div>
                </div>
                
                <div class="row" id="chooseMonth">
                  <div class="col-md-12 form-group">
                    <label for="mm"><b>Choose a month :</b></label>
                    <select name="mm"  id="mm" class="browser-default custom-select custom-select-lg mb-3 rounded">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" id="mmm" name="mmm" value="Find holidays"
                      class="btn btn-primary rounded-pill py-2 px-4">
                      <input type="submit" id="yyy" name="yyy" style="display: none;" value="Find holidays"
                      class="btn btn-primary rounded-pill py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                  <br>
                </div>
                <p id="mob" align="right" style="padding: 0;font-size: medium; font-weight: 450; color: #eb4d55;" onclick="scrollDown()">Scroll down <i class="fa fa-angle-double-down" style="font-size:24px;color:red"></i>
                </p>
              </form>
            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Samay.</h3>
              <p>Whether it's a short break or a vacation, Samay helps you maximise your vacation / break time with minimum days of leave.</p>
              <p><a style="font-size: larger;" href="{{ url_for('.holiday') }}">View / Edit holidays.</a></p>
              <p id="pc"><a style="font-size: larger;" href="{{ url_for('.help') }}">What deos this tool do?</a></p>
              <p><a style="font-size: larger;" href="{{ url_for('.about') }}">About.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  <script>
    $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
    });
    $(document).ready(function() {
                    $('#monthbtn').click(function(e) {
                      e.preventDefault(); 
                      e.stopPropagation();
                      document.getElementById('yyy').style.display = 'none';
                      document.getElementById('dateForm').style.display = 'none';
                      document.getElementById('contactForm').style.display = 'block';
                      document.getElementById('mmm').style.display = 'block';
                      document.getElementById('chooseMonth').style.display = 'block';
                        $('#yearbtn').removeClass('current');
                        $('#rangebtn').removeClass('current');
                        $(this).addClass('current');
                    });
                    $('#yearbtn').click(function(e) {
                      e.preventDefault(); 
                      e.stopPropagation();
                      document.getElementById('mmm').style.display = 'none';
                      document.getElementById('dateForm').style.display = 'none';
                      document.getElementById('chooseMonth').style.display = 'none';
                      document.getElementById('contactForm').style.display = 'block';
                      document.getElementById('yyy').style.display = 'block';
                        $('#monthbtn').removeClass('current');
                        $('#rangebtn').removeClass('current');
                        $(this).addClass('current');
                    });
                    $('#rangebtn').click(function(e) {
                      e.preventDefault(); 
                      e.stopPropagation();
                      document.getElementById('contactForm').style.display = 'none';
                      document.getElementById('dateForm').style.display = 'block';
                        $('#monthbtn').removeClass('current');
                        $('#yearbtn').removeClass('current');
                        $(this).addClass('current');
                    });
                });
  function scrollDown(e) {
    window.scrollTo(0, document.body.scrollHeight);
}
</script>
  </script> 

</body>

</html>
