<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        {% for month in months %}
            {{month|safe}}
            {% endfor %}
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Date
                        </div>
                        <div class="cell">
                            Holiday
                        </div>
                        <div class="cell" style="text-align: center;">
                            Holiday Name
                        </div>

                    </div>
                    {% for holiday in holidays %}
                    <div class="row">
                        <div class="cell" data-title="Date">
                            {{ holiday[0] }}
                        </div>

                        <div class="cell" data-title="holiday">
                            {% if holiday[1] %}
                            Holiday
                            {% else %}
                            <span style="color: #eb4d55;">Leave</span>
                            {% endif %}
                        </div>

                        <div class="cell" style="text-align: center;" data-title="name">
                            {{ holiday[2] }}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ url_for('static',filename='js/viewmain.js') }}"></script>

</body>

</html>